<div class="col-md-4">
  <section class='container-fluid'>
    <div class="user-index-box">
      <div class="user-index-info">
        <div class="row">
          <span class="glyphicon glyphicon-user col-md-12" aria-hidden="true">
            <%= link_to user.username.titleize, user_path(user) %>
          </span>
        </div>
        <div class="col-md-12 email">
          <%= mail_to user.email %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="badge">
              <%= user.links.count %> Link(s) Posted <%= "| # #{@counter}" %>
              <% @counter += 1 %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
