<h2>@users.username.titleize</h2>
<h3>Profile Page</h3>
<div><%= @users.links.count %></div>
<div><%= @users.votes.count %></div>
<div><%= @users.comments.count %></div><div><%= @users.email %></div>
