<div class="comment-box">
  <div class="row">
    <div class="col-md-12">
      <strong><%= comments.user.username %>-</strong>
      <%= comments.body %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 user-cmt">
      <%= comments.created_at.to_formatted_s(:long) %>
    </div>
  </div>
</div>
