@import "bootstrap-sprockets";
@import "bootstrap";
$color-pallet-1: #532C63; // dark purple, border/text/header          - Bossanova
$color-pallet-2: #D0D9D5; // darkish grey, content boxes              - Zumthor
$color-pallet-3: #F2F2F2; // greyish purple, (main background)        - Concrete
$color-pallet-4: #E8E0CF; // darker off-white, content boxes, borders - Bleach White
$color-pallet-5: #FBEDD7; // off-white, content boxes, borders        - Antique White


a:hover{
    color: $color-pallet-1;
    font-weight: bold;
};

header{
  background: $color-pallet-1;
  top: 0;
  left: 0;
  height: 70px;

  a{
    text-decoration: none;
    color: $color-pallet-2;
    margin-left: 30px;
    transition: all .1s ease-in-out;
    &:hover{
      color: $color-pallet-3;
      text-decoration: none;
    };
  };
};

h1, h2, h3, h4{ text-align: center; };

nav{
  height: 50px;
  padding-top: 14px;
};

body{ background: $color-pallet-3; };

.field{ text-align: center; };

.text-field{
  border: 3px solid $color-pallet-1;
  width: 40%;
  margin-bottom: 20px;
  &:focus{outline: 3px solid lighten($color-pallet-1, 20%);};
};

.text-area{
  border: 3px solid $color-pallet-1;
  width: 80%;
  height: 40%;
  margin-bottom: 20px;
  &:focus{outline: 3px solid lighten($color-pallet-1, 20%);};
};

.actions{
  padding-top: 10px;
  text-align: center;
};

.login-box{
  margin: 0 auto;
  width: 180px;
  padding: 10px;
  border: 2px solid grey;
};

.link-show{
  margin: 0 auto 10px;
  padding: 20px;
  max-width: 75%;
  background: $color-pallet-2;
  border-radius: 15px;
  border: 3px solid $color-pallet-1;
};

.session-link{
  float: right;
  margin-right: 10px;
};

.logo{
  background: $color-pallet-2;
  color: $color-pallet-1;
  width: 120px;
  height: 50px;
  text-align: center;
  float: left;
  font-size: 30px;
  transition: all 0.4s linear;
  &:hover{
    color: $color-pallet-1;
    padding-top: 12px;
    height: 70px;
  }
};
.login-field{
  border-radius: 15px;
  margin-right: 10px;
  background: $color-pallet-2;
  color: black;
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1000px;
};

.login-btn{ color: black; };

.login-tag{ margin: 13px 10px 0; };

// .comments{};

.upvote{
  background: $color-pallet-1;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid $color-pallet-2;
  text-align: center;
  color: white;
  font-size: 18px;
};

.upvote-box{ margin-left: 80px; };

.downvote-box{ margin-left: 80px; };

.downvote{
  background: $color-pallet-1;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid $color-pallet-2;
  text-align: center;
  color: white;
  font-size: 18px;
};

.link-box{ margin-top: 50px; };

.link-area{
  margin: 50px auto;
  padding: 40px 0;
  max-width: 60%;
  background: $color-pallet-2;
  border: 3px solid $color-pallet-1;
  border-radius: 15px;
};

.comments{
  margin-left: 20%;
  background: $color-pallet-5;
  max-width: 60%;
  border-radius: 10px;
  padding: 5px;
  color: $color-pallet-1;
  font-weight: bold;
  margin-bottom: 15px;
  border: 3px solid $color-pallet-4;
};

.comment-box{
  background: $color-pallet-5;
  margin: 10px auto;
  padding: 5px;
  max-width: 55%;
  border-radius: 10px;
  border: 3px solid $color-pallet-4;
};

.links-votes{ text-align: center; };

.user-index-box{
  margin-bottom: 5px;
  background: $color-pallet-2;
  line-height: 30px;
  border-radius: 8px;
  border: 3px solid $color-pallet-1;
};

.user-profile{
  background: $color-pallet-4;
  border-radius: 15px 15%;
  margin: 60px auto 20px;
  width: 30%;
  border: 3px solid black;
};

.user-profile-contents{
  margin: 10px;
  padding: 10px 5px 0px;
  background: white;
  border-radius: 15px 15%;
  border: 2px solid $color-pallet-4;
};

.user-index-info{ padding: 5px; };

.badge{
  background: $color-pallet-5;
  color: $color-pallet-1;
  float: right;
};

.board-index{
  max-width: 60%;
  margin: 0 auto;
  background: $color-pallet-2;
  border: 2px solid $color-pallet-1;
  padding: 15px;
  overflow: hidden;
};

.boards{
  background: $color-pallet-4;
  margin: 0 15px 10px;
  width: 150px;
  float: left;
  text-align: center;
  border: 2px solid $color-pallet-1;
};

.new-board{
  margin: 20px auto;
  width: 30%;
};

.destroy-btn{
  color: red;
  width: 5px;
  height: 5px;
  margin-right: 8px;
  float: right;
  font-weight: bold;
};

.welcome{
  background: $color-pallet-2;
  width: 60%;
  height: auto;
  padding: 50px;
  margin: 60px auto;
  border: 3px solid $color-pallet-1;
  border-radius: 20px;
};

.edit-btn{
  margin: 0 auto;
  width: 30px;
  a:hover{
    color: red;
  };
};

section.row{
  margin-left: 0px;
  margin-right: 0px;
};

.email{
  margin-left: 12px;
;}

.user-cmt{
  float: right;
  margin-right: 0px;
};

.submit-btn{
  border: 2px solid $color-pallet-1;
  background: darken($color-pallet-2, 5%);
  transition: all 0.7s ease-in-out;
  &:hover{
    border-radius: 50px;
    background: $color-pallet-1;
    color: white;
  };
};

select#link_board{
  background: lighten($color-pallet-1, 65%);
  color: $color-pallet-1;
  text-transform: capitalize;
  font-weight: bold;
};

.sub-link-info{
  background: darken($color-pallet-3, 10%);
  width: 15%;
  border-radius: 15px;
  border: 2px solid $color-pallet-1;
  margin: 0 auto;
};
