@import "bootstrap-sprockets";
@import "bootstrap";

.field{
  text-align: center;
};
.actions{
  padding-top: 10px;
  text-align: center;
};

.login-box{
  margin: 0 auto;
  width: 180px;
  padding: 10px;
  border: 2px solid grey;
};

.link-show{
  margin: 0 auto;
  padding: 20px;
};
